*.out
*.safetensors
*.json
*.jsonl
*.csv
*.txt
/masks/
/output-merges/
/param_masks/
/param_masks_sharegpt4/
/sparse-models/
/rlaif/outputs/
/rlaif/output/
/mistral/finetuned_models/
/mistral/safety_evaluation/question_output
*.pyc
/rlaif/scripts/~/.cache
myenv/
rlaif/scripts/outputs
rlaif/tasks/TIGER-Lab___math_instruct
ssh*
rlaif/tasks/TIGER-Lab___math_instruct/default/0.0.0/b4fdc323a7be1379c9c7c0b67b1de72dfee2111a/math_instruct-train.arrow
rlaif/peft/tuners/vera/mask_tensor_B_10percent.pt
